footer.footer 
    .footer__logo 
        img(src='/img/logo-green.png', alt=' atour logo')
    ul.footer__nav
        li: a(href='#') Company
        li: a(href='#') Contact us
        li: a(href='#') Careers
        li: a(href='#') Privacy policy
        li: a(href='#') Terms
    p.footer__cotyright &copy; by Jonas Schmedtmann. Feel free to use this proyect for your own purposes. This does NOT apply if you plan to produce your own course or tutorials based on this proyect.